<!doctype html>
<html lang="en">

<%- include('./partials/head.ejs')%>

<!-- NAVBAR -->
<%- include('./partials/navybar.ejs')%>

<script src="./js/recorder.js"></script>
<script src="./js/jquery.min.js"></script>
<script>
    var audio_context;
    var recorder;


    function startMp3(id){

	    var audio = new Audio("./py_scripts/audioFile/result"+id+".mp3");
	    audio.play();
	    console.log("end");
    }

    function startUserMedia(stream) {
      var input = audio_context.createMediaStreamSource(stream);
      recorder = new Recorder(input);

    }

    window.onload = function init() {
      try {

        window.AudioContext = window.AudioContext || window.webkitAudioContext;
        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
        window.URL = window.URL || window.webkitURL;

        audio_context = new AudioContext();
      } catch (e) {
        alert('No web audio support in this browser!');
      }

      navigator.mediaDevices.getUserMedia({ audio: true })
		    .then(startUserMedia);
		    
		//    , startUserMedia, function (e) {
     // });
    }

    function btn1_toggle(){
        document.getElementById('btn1').disabled=true;
        document.getElementById('btn2').disabled=false;
        recorder && recorder.record();
    }
    function btn2_toggle(){
        document.getElementById('btn1').disabled=false;
        document.getElementById('btn2').disabled=true;
        recorder && recorder.stop();

        postBlob(); // 다운로드 링크 생성

        recorder.clear();
        alert("녹음이 완료되었습니다.");
    }

    function makeStr(){

    }
    
    function postBlob(){
        recorder && recorder.exportWAV(function (soundBlob) {
            console.log(soundBlob);
            var formData = new FormData();

            if (soundBlob) {
                formData.append("soundBlob", soundBlob);

            $.ajax({
            type: 'POST',
            url: '/add',
            data: formData,
            processData: false,
            contentType: false,
            dataType: "script",
	    success: function(data){
		var data =JSON.parse(data);
		    if(data.status=='200'){
			window.location.reload();
		    }
	    }
            }).done(function(data){
                console.log(data);
            });
            }
        });
    }
</script>
<!-- HOME -->
<section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');"
  id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold">실시간 관제</h1>
        <div class="custom-breadcrumbs">
          <span class="text-white"><strong>&nbsp;울산항만공사</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-section" id="next">
  <div class="container">

    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="section-title mb-2">관제 정보 추가</h2>
        <h2 class="section-title mb-2">대본: 이름은 현수호 무게 632톤 2020년 8월 1일 9시 15분에 울산 외항으로 입항할 예정이다</h2>
      </div>
    </div>

    <div>
      <input id="btn1" type="button" style = "background-color: red; border:none; margin-right: 10px; font-weight:bold"
          onclick="btn1_toggle()" value = "record">
      <input id="btn2" type="button" style = "background-color: red; border:none; margin-right: 10px; font-weight:bold"
          onclick="btn2_toggle()" value = "stop" disabled>
    </div>

    <table class="text-center table-class" style="width: 100%">
      <tr style="height: 50px; font-weight: bold; font-size:15px; border:black solid">
        <td style="width:14%">선박명</td>
        <td style="width:14%">톤 수</td>
        <td style="width:14%">입/출항</td>
        <td style="width:14%">외/내항</td>
        <td style="width:14%">날 짜</td>
        <td style="width:14%">시 간</td>
        <td style="width:16%">확 인</td>
      </tr>
      <%
      var obj_length = Object.keys(records).length;

      for(i=0;i<obj_length;i++) { %>
      <tr class="tr-class">
      <td style="width:14%" class="td-class"><%- records[i].ship_name %></td>
      <td style="width:14%" class="td-class"><%- records[i].weight_ton %></td>
      <td style="width:14%" class="td-class"><%- records[i].ship_direction %></td>
      <td style="width:14%" class="td-class"><%- records[i].port_position %></td>
      <td style="width:14%" class="td-class"><%- records[i].date %></td>
      <td style="width:14%" class="td-class"><%- records[i].time %></td>
      <td style="width:16%" class="check-class">
        <div>
          <% var newname = 'check'+i %>
          <input type="button" style = "background-color: crimson; border:none; margin-right: 4px; font-weight:bold"
          onclick="location.href='add/<%-records[i].id%>';" value = "승인">
          <input type="button" style = "background-color: greenyellow; border:none; margin-right: 4px; font-weight:bold"
          onclick="location.href='delete/<%-records[i].id%>';" value = "삭제">
	  <input type="button" style = "background-color: skyblue; border:none; font-weight:bold" 
	  onclick="startMp3(<%-records[i].id%>)"; value = "듣기">
	   <!--"location.href='listen/<%-records[i].id%>-->
        </div>
      </td>
      </tr>
      <%}%>
  </table>
  </div>
</section>

<%- include('./partials/footer.ejs')%>
</body>

</html>
